/* navbar */
body{
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
  width: 100%;
  height: auto;
}
.navbar{
  background-color: transparent;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  font-size: 18px;
}

.nav-link{
  color: white;
}

.navbar-brand{
  color: white;
}


.navbar-brand:hover{
  color: #59FFA0;

}

.nav-link:hover{
  color: #59FFA0;
  text-decoration: underline;
}

.hero{
  background: rgb(0,0,0);
  background: linear-gradient(177deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 26%, rgba(0,0,0,0) 77%, rgba(0,0,0,1) 100%), url(https://images.unsplash.com/photo-1541364983171-a8ba01e95cfc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-attachment: fixed;
}

.hero-servizi{
  background: rgb(0,0,0);
  background: linear-gradient(177deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 26%, rgba(0,0,0,0) 77%, rgba(0,0,0,1) 100%), url(https://images.unsplash.com/photo-1535930891776-0c2dfb7fda1a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-attachment: fixed;
}

h1{
  font-size: 70px;
  color: aliceblue;
}


